<div class="posts">

    <ng-container *ngFor="let post of parentPosts">

        <ng-container *ngIf="post.title.includes(parentSearch) && post.id<maxVal && post.id>minVal">
            <div class="post">
                <div class="post-content">
                    <a routerLink="/post/{{post.id}}" routerLinkActive="active" [state]="parentCurrentPosts">
                        <h1 id="title">{{post.title}}</h1>
                    </a>
                    <img src="{{post.img}}">
                </div>
            </div>
        </ng-container>
    </ng-container>


</div>

<div class="one-line">
    <div *ngFor="let number of parentPages">
        <ng-container *ngIf="checkingPage(number);else other_content">
            <h1 id="selectedNum" (click)="changePage(number)">{{number}}</h1>
        </ng-container>
        <ng-template #other_content>
            <h1 id="num" (click)="changePage(number)">{{number}}</h1>
        </ng-template>
    </div>
</div>