.navigation-bar {
    position: relative;
    width: 100vw;
    height: 3rem;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
}
.navigation-bar-content {
    display: flex;
    width: 50%;
    height: 100%;
}
.blured {
    filter: blur(3px);
}
.middle h1 {
    font-family: "Dancing Script", cursive;
}
.navigation-bar h1 {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}
.navigation-bar h1:hover {
    cursor: pointer;
    color: #a5a5a5;
}
.middle .middle h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
}
.left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.middle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media screen and (max-width: 1200px) {
    .navigation-bar-content {
        width: 90%;
    }
    .navigation-bar h1,
    .middle .middle h1 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .navigation-bar h1,
    .middle .middle h1 {
        font-size: 1rem;
    }
    .left {
        width: auto;
    }
}
