<div class="navigation-bar">
    <div class="navigation-bar-content">
        <div class="left">
        <div class="middle">
            <a routerLink="/" routerLinkActive="active">
                <h1>Blog</h1>
            </a>
        </div>
    </div>
    <div class="middle">
        <div class="middle">
            <a routerLink="/choice" routerLinkActive="active">
                <h1>Choice</h1>
            </a>
            <ng-container *ngIf="parentLoged">
                <a routerLink="/add" routerLinkActive="active">
                    <h1>Add</h1>
                </a>
            </ng-container>
            <ng-container *ngIf="parentLoged; else loggedOut">
                <h1 (click)="logoutClick()">Logout</h1>
            </ng-container>
            <ng-template #loggedOut>
                <h1 (click)="loginClick()">Login</h1>
            </ng-template>
            <h1 (click)="registerClick()">Register</h1>
        </div>
    </div>
    <div class="right">
        <div class="middle">
            <ng-container *ngIf="parentLoged">
                <h1>Hi, {{parentLoged}}</h1>
            </ng-container>
            
        </div>
    </div>
    </div>
    
</div>