<div class="navigation-bar">
    <div class="left">
        <div class="middle">
            <a routerLink="/" routerLinkActive="active"><h1>Blog</h1></a>
        </div>
    </div>
    <div class="middle">
        <div class="middle">
            <a routerLink="/choice" routerLinkActive="active"><h1>Choice</h1></a>
            <a routerLink="/add" routerLinkActive="active"><h1>Add</h1></a>
            <h1 (click)="loginClick()">Login</h1>
        </div>
    </div>
    <div class="right">
        <div class="middle">

        </div>
    </div>
</div>
