.add{
    display: flex;
    width:100vw;
    height:89vh;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35rem;
    width: 35rem;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 5px;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}
.blured{
    filter: blur(3px);
}
.add-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 60%;
}
#smaller{
    font-size: 1.2rem;
}
.add-content textarea{
    height:7rem;
    width:100%;
    margin-bottom: 1rem;
}
.add-content h1{
    font-size: 1.5rem;
    color: rgb(180, 170, 73);
}
.add-content input{
    height:1.5rem;
    width:100%;
}
.add-content button{
    height:2rem;
    width:5rem;
    border-radius: 5px;
    border: 1px solid rgb(116, 116, 116);
    background: rgb(180, 170, 73);
    color: white;
}
input, textarea{
    border-radius: 5px;
    border: 1px solid rgb(116, 116, 116);
}
.add-content button:hover{
    background: rgb(155, 146, 63);
    cursor: pointer;
}
@media screen and (max-width: 650px) {
    .form{
        height: 35rem;
        width: 25rem;
    }
    #smaller{
        font-size: 1.0rem;
    }
    .add-content textarea{
        height:10rem;
    }
    .add-content h1{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 450px) {
    .form{
        height: 35rem;
        width: 20rem;
    }
}
