.posts{
    display: grid;
    width:100vw;
    height:89vh;
    grid-template-columns: auto auto auto auto;
}
.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}
.post-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 15rem;
    border: 1px solid rgb(9, 72, 116);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    background: rgb(9, 72, 116);
    background: linear-gradient(90deg, rgba(9, 72, 116, 1) 0%, rgba(48, 52, 55, 1) 100%, rgba(0, 64, 103, 1) 100%);  
}
.post h1{
    font-size: 1rem;
    color: white;
}
.post p{
    font-size: 1rem;
}
.post img{
    width:7rem;
    height:5rem;
    border-radius: 5px;
}