.posts-display{
    display: flex;
    width:100vw;
    height:89vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}
.posts{
    display: grid;
    width:50rem;
    height:30rem;
    grid-template-columns: auto auto auto auto;
}
.search-bar input,
.search-bar select{
    border-radius: 5px;
    border: 1px solid rgb(9, 72, 116);
    width: 10rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.one-line{
    display: flex;
    justify-content: flex-end;
}
#num, #selectedNum{
    margin-right: 1rem;
    font-size: 1.5rem;
    color: rgb(9, 72, 116);
}
#selectedNum{
    color: rgb(241, 174, 28);
}
#selectedNum:hover,
#num:hover{
    cursor: pointer;
}
#title:hover{
    cursor: pointer;
    color: rgb(241, 174, 28);
}
.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.post-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12rem;
    width: 10rem;
    border: 1px solid rgb(9, 72, 116);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    background: rgb(9, 72, 116);
    background: linear-gradient(90deg, rgba(9, 72, 116, 1) 0%, rgba(48, 52, 55, 1) 100%, rgba(0, 64, 103, 1) 100%);  
}
.post h1{
    font-size: 1rem;
    color: white;
}
.post p{
    font-size: 1rem;
}
.post img{
    width:7rem;
    height:5rem;
    border-radius: 5px;
}