/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color: rgba(204, 204, 204, 1);
}
a{
    text-decoration: none
}