.details {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-top: 2rem;
}
.one-line {
    display: flex;
}
.details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40rem;
    height: auto;
    border: 1px solid rgba(160, 160, 160, 0.479);
    border-radius: 5px;
    background-color: white;
    padding: 1rem 2rem;
}
.details-content h1 {
    color: #a5a5a5;
    font-size: 1.5rem;
}
.details-content h2 {
    color: #a5a5a5;
    font-size: 0.8rem;
}
.details-content img {
    width: 23rem;
    height: 15rem;
    border-radius: 5px;
    filter: grayscale(20%);
}
.details-content p {
    color: black;
    font-size: 1rem;
}
.details-text {
    background: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 5px;
}
.comments {
    width: 100%;
}
.single-comment {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #a5a5a5;
}
.new-comment {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #a5a5a5;
}
.new-comment h1 {
    color: #a5a5a5;
    font-size: 1rem;
}
.single-comment h1 {
    color: black;
    font-size: 1rem;
    margin-right: 0.5rem;
}
.single-comment input {
    width: 85%;
    height: 1rem;
    border-radius: 5px;
}
.new-comment textarea {
    width: 100%;
}
.blured {
    filter: blur(3px);
}
.new-comment button {
    width: 4rem;
    height: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgb(116, 116, 116);
    background: #a5a5a5;
    color: white;
}
.new-comment button:hover {
    -webkit-box-shadow: 0px 0px 3px 1px #48a8c9;
    -moz-box-shadow: 0px 0px 3px 1px #48a8c9;
    box-shadow: 0px 0px 3px 1px #48a8c9;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .details-content {
        width: 30rem;
        padding: 1rem 1rem;
    }

    .details-content h1 {
        font-size: 1.2rem;
    }
    .details-content h2 {
        font-size: 0.7rem;
    }
    .details-content img {
        width: 18rem;
        height: 13rem;
    }
    .details-content p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 700px) {
    .details-content {
        width: 25rem;
    }
    .details-content h1 {
        font-size: 1rem;
    }
    .details-content h2 {
        font-size: 0.7rem;
    }
    .details-content img {
        width: 18rem;
        height: 13rem;
    }
    .details-content p {
        font-size: 0.8rem;
    }
    .single-comment h1 {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 550px) {
    .details-content {
        width: 18rem;
    }
    .details-content h1 {
        font-size: 1rem;
    }
    .details-content h2 {
        font-size: 0.7rem;
    }
    .details-content img {
        width: 15rem;
        height: 12rem;
    }
    .details-content p {
        font-size: 0.8rem;
    }
    .single-comment h1 {
        font-size: 0.8rem;
    }
}
