.details{
    display: flex;
    width:100vw;
    justify-content: center;
    padding-top: 2rem;
}
.one-line{
    display: flex;
}
.details-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40rem;
    height: auto;
    border: 1px solid rgb(9, 72, 116);
    border-radius: 5px;
    background: rgb(9, 72, 116);
    background: linear-gradient(90deg, rgba(9, 72, 116, 1) 0%, rgba(48, 52, 55, 1) 100%, rgba(0, 64, 103, 1) 100%);  
    padding: 1rem 2rem;
}
.details-content h1{
    color: white;
    font-size: 1.5rem;
}
.details-content h2{
    color: white;
    font-size: 0.8rem;
}
.details-content img{
    width: 15rem;
    height: 12rem;
}
.details-content p{
    color: white;
    font-size: 1rem;
}
.comments{
    width:100%;
}
.single-comment{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 5px;

    margin-bottom: 0.2rem;
}
.single-comment h1{
    color:rgb(9, 72, 116);
    font-size: 1rem;
    margin-right: 0.5rem;
}
.single-comment input{
    width: 85%;
    height: 1rem;
    border-radius: 5px;
}
.single-comment button{
    width: 4rem;
    height: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgb(9, 72, 116);
    background: rgb(9, 72, 116);
    color: white;
}