.details{
    display: flex;
    width:100vw;
    justify-content: center;
    padding-top: 2rem;
}
.one-line{
    display: flex;
}
.details-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40rem;
    height: auto;
    border: 1px solid rgb(9, 72, 116);
    border-radius: 5px;
    background: rgb(9, 72, 116);
    background: linear-gradient(90deg, rgba(9, 72, 116, 1) 0%, rgba(48, 52, 55, 1) 100%, rgba(0, 64, 103, 1) 100%);  
    padding: 1rem 2rem;
}
.details-content h1{
    color: white;
    font-size: 1.5rem;
}
.details-content h2{
    color: white;
    font-size: 0.8rem;
}
.details-content img{
    width: 15rem;
    height: 12rem;
}
.details-content p{
    color: white;
    font-size: 1rem;
}