.register{
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
    display: flex;
    width:100vw;
    height:89vh;
    justify-content: center;
    margin-top: 3.5rem;
}
.register-form{
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 33rem;
    width: 40rem;
    border: 1px solid rgb(9, 72, 116);
    border-radius: 5px;
    background: rgb(9, 72, 116);
    background: linear-gradient(90deg, rgba(9, 72, 116, 1) 0%, rgba(48, 52, 55, 1) 100%, rgba(0, 64, 103, 1) 100%);  
}
#incorrect{
    border: 2px solid red;
}
#correct{
    border: 1px solid rgb(9, 72, 116);
}
.account-tooltip,
.password-tooltip,
.password2-tooltip,
.email-tooltip{
    color: white;
    width:8rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(9, 72, 116);
    font-size: 0.7rem;
    background-color: rgba(255, 255, 255, 0.233);
}
.account-tooltip{
    position: absolute;
    margin-left:15rem;
    margin-top:-7rem;
}
.password-tooltip{
    position: absolute;
    margin-left:15rem;
    margin-top:5rem;
}
.password2-tooltip{
    position: absolute;
    margin-left:15rem;
    margin-top:10rem;
}
.email-tooltip{
    position: absolute;
    margin-left:15rem;
    margin-top:-2rem;
}
#close-button{
    margin-top:0;
    margin-left: 25rem;
    width: 2rem;
    height: 2rem;
}
#visible{
    display: flex;
}
#hidden{
    display: none;
}
.register-form h1{
    font-size: 1.5rem;
    color: white;
}
.register-form input{
    height:1.5rem;
    width:18rem;
}
.register-form button{
    margin-top: 2rem;
    height:2rem;
    width:5rem;
    border-radius: 5px;
    border: 1px solid rgb(9, 72, 116);
    background: rgba(255, 255, 255, 0.13);
    color: white;
}
input, textarea{
    border-radius: 5px;
    border: 1px solid rgb(9, 72, 116);
}
.register-form button:hover{
    background: rgba(255, 255, 255, 0.233);
    cursor: pointer;
}